# Auto detect text files and perform LF normalization
* text=auto
# Treat all JavaScript files as text
*.js text

# Treat all Markdown files as text
*.md text

# Treat all image files as binary
*.png binary
*.jpg binary
*.gif binary