* {
  color: var(--color);
}

:root {
  --padding: 50px;
  --color: red;
}

img {  
  float: right;
}

p {
  padding: var(--padding);
  position: absolute;
  top: 200px;
 
}
.clear{
position: absolute;
    top: 370px;
  clear: both;

}