p{
    color: rgba(255, 0, 0, 0.705);
    text-align: right;

}

h1{
      color: blue;
    text-align: right;
}

h2{
    color: green;
}

h3{
    color: purple;
}

h4{
    color: orange;
}

h5{
    color: pink;
}

h6{
    color: brown;
}

#sfondo{
    background-color: lime;
} 

.main{
    font-size: 30px;
}


